# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore logs (if applicable)
logs/

# Ignore build artifacts (if applicable)
build/

# Ignore IDE and editor files
.idea/
.vscode/
*.iml

# Ignore npm/Yarn lock files
package-lock.json
yarn.lock
